.container {
    width: auto;
    height: auto;
   
}

.bottom-panel {
    position: auto;
    width: auto;
    box-sizing: border-box;
    display: inline-block;

}

.top-panel {
    position: relative;
    width: auto;
    padding-left: 10%;
    display: inline-flex;
}

.image {
    height: auto;
    width: auto;
}

.panel {
    background-color: red;
    width : 50px;
    padding-left: 2px;
    padding-right: 2px;

}