.container {
    width: auto;
    height: auto;
}

.bottom-panel {
    position: auto;
    width: auto;
    box-sizing: border-box;
    display: inline-block;

}

.top-panel {
    position: relative;
    width: auto;
    padding-left: 10%;
    display: inline-flex;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.panel {
    background-color: red;
    width : 50px;
    padding-left: 2px;
    padding-right: 2px;
}

.button{
    text-align: right;
    font-size: 2em;
    font-weight: bold;
}
