.submit {
  text-align: right;
  
  font-size: 2em;
  border: none;
}
.submit input {
  background-color: rgb(21, 21, 71);
  font-family: "Times New Roman", Times, serif;
  
  color: aliceblue;
  font-size: 20px;
  border-radius: 1em;
}
.textFields {
  line-height: 2em;
}

.header {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 10px;
  padding-top: 10px;
}

.content {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 20px;
	padding-bottom: 20px;
	
	
}

input[type=text] {
 	width:auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: aliceblue;
  
}
input[type=date] {
 	width:auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: aliceblue;
 
}


input[type=text] : focus {
 border: 3px solid #555;
}

.container {
  width:60%;
  height:auto;
  border-radius: 5px;
  padding: 20px;
  margin-left: 70px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;


}

@media-query {
  
}



