.container {
  margin: 1em;
}

.submit {
  text-align: right;

  font-size: 2em;
  border: none;
}
.submit input {
  background-color: rgb(21, 21, 71);
  font-family: 'Times New Roman', Times, serif;

  color: aliceblue;
  font-size: 20px;
  border-radius: 3em;
}

.header {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.content {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  padding-bottom: 20px;
}

input[type='text'] {
  width: auto;

  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}

.content {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  padding-bottom: 20px;
  float: left;
}

.row {
  display: flex;
  flex-direction: row;
  line-height: 2em;
  margin-top: 1em;
}

.labelInput {
  flex: auto;
  margin: 0 1em;
}

.shipmentAddress {
  vertical-align: text-bottom;
  padding: 1.1em 2px;
}

input[type='text'] :focus {
  border: 3px solid #555;
}

input {
  height: 4em;
  font-size: 1em;
  width: -webkit-fill-available;
}

.container {
  width: 60%;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  margin-left: 70px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.error {
  color: red;
  margin: 0;
}

.falseInput {
  border: 1px solid red;
  background-color: rgb(250, 185, 185);
}

label:not(.shipmentAddress) {
  display: block;
  color: grey;
  line-height: initial;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type='text'] {
    width: 100%;
    margin-top: 0;
  }
}
.test {
  line-height: 80px;
}
