.container {
  width: 60%;
  height: auto;
  border-radius: 5px;
  margin-left: 20%;
}

.fieldset {
  display: inline;
  min-width: 600px;
  margin-top: 5%;
}

input:not(.submit) {
  height: 4em;
  width: -webkit-fill-available;
}
.row {
  display: flex;
  flex-direction: row;
  line-height: 2em;
  margin-top: 1em;
}

.labelInput {
  flex: auto;
  margin: 0 1em;
}

.shipmentAddress {
  vertical-align: text-bottom;
  padding: 1em 2px;
}

.error {
  color: red;
  margin: 0;
}

.falseInput {
  border: 1px solid red;
  background-color: rgb(250, 185, 185);
}

label:not(.shipmentAddress) {
  margin-left: 0.5em;
  display: block;
  color: grey;
  line-height: initial;
  position: absolute;
}

.test {
  line-height: 80px;
}

input[type='radio'] {
  margin: 0.5em 0.5em;
}

.submit {
  border: none;
  text-align: center;
  margin: 1em auto;
  padding: 0.2em 1em;
}

.submit input {
  background-color: rgb(21, 21, 71);
  color: aliceblue;
  border-radius: 3em;
  font-size: 2em;
}
