.container {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.left-half {
    position: relative;
    left: 0px;
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
}

.right-half {
    position: relative;
    right: 0px;
    width: 65%;
    box-sizing: border-box;
    display: inline-block;
}

.image {
    height: 100%;
    width: 100%;
}