.submit {
  text-align: right;
  padding: 0.2em 1em;
  border: none;
  text-align: right;
}
.submitInput {
  background-color: rgb(21, 21, 71);
  color: aliceblue;
  font-size: 1.5em;
  line-height: 2em;
  border-radius: 3em;
  padding: 0 2em;
}

.printPanel {
  text-align: right;
}

.row {
  display: flex;
  flex-direction: row;
}

.display {
  display: table;
  list-style: none;
  line-height: 2em;
}

.userInformation,
.productInformation {
  flex: auto;
}

@media print {
  .button {
    font-size: 0.01px;
    margin: 0;
    padding: 0;
    border: 0;
    visibility: hidden;
  }

  .display {
    display: flex;
    flex-direction: column;
  }

  .submit {
    font-size: 0.01px;
  }
}
