.container {
  padding-top: 5em;
  text-align: center;
}

.image {
  width: 50%;
}

@media screen and (max-width:800px) {
  .container .image {
    width:100%;
  }
}

@media screen and (min-width:320px) {
  .container .image {
    width:100%;
  }
}