.container {
  display: flex;
  height: 95%;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100%;
}
.leftField {
  grid-column: 1;
  display: flex;
  height: 95%;
  width: 90%;
}

.rightField {
  grid-column: 2;
  height: 95%;
  width: 90%;
}

.textInput {
  margin-bottom: 1em;
  width: 100%;
}

.message {
  height: 92%;
  width: 98%;
  border-color: darkgray;
  background-color: aliceblue;
}

.information {
  font-size: 1.2em;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 95%;
  }

  .form {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .leftField {
    display: flex;
    width: 88%;
  }

  .rightField {
    width: 88%;
  }

  .textInput {
    margin-bottom: 1em;
    width: 100%;
    height: 1.2em;
  }

  .message {
    height: 5em;
    width: 100%;
    border-color: darkgray;
    background-color: aliceblue;
  }

  .information {
    font-size: 1em;
  }
}
