.container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  overflow-x: scroll;
  padding-left: 5em;
}

.image {
  height: 97%;
  width: 14em;
}

@media (max-width: 480px) {
  .container {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    overflow-x: scroll;
  }
}
