.productInfo {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  line-height: 1.8em;
  margin-top: 1%;
  margin-right:1%;
  margin-bottom: 0.5%;
}

.productTextInfo{
  margin-left: 7%;
  margin-top: 10%;
 }

.image {
  width: 50%;
  height: 50%;
  margin-left: 3%;  
}

.button {
  margin-top: 8%;
  text-align: center;
  margin-bottom: 8%;
}

.link {
  background-color: rgb(21, 21, 71);
  color: aliceblue;
  font-size: 1em;
  text-decoration: none;
  padding:  0.5em;
}

.head {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 145%;
  margin-top: 5%;
  text-align: center;
}

@media screen and (max-width:800px) {
  .head .productInfo .productTextInfo .link .button .image {
    width:100%;
  }
}



