.productInfo {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  line-height: 1.8em;
  margin-top: 10px;
  margin-right:10px;
  margin-bottom: 5px;
}

.productTextInfo{
  margin-left: 40px;
  margin-top: 60px;
}


.image {
  width: 30em;
  height: 22.5em;
  margin-left: 30px;

  
}

.button {
  margin-top: 80px;
  text-align: right;
}
.link {
  background-color: rgb(21, 21, 71);
  color: aliceblue;
  font-size: 1em;
  text-decoration: none;
  padding:  0.5em;
}

.head {
   font-family: "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  margin-left: 38%;
  margin-top: 5%;
}
