.productInfo {
  display: flex;
  flex-direction: row;
  text-align: bottom;
  line-height: 1.8em;
}

.image {
  width: 30em;
  height: 22.5em;
  margin: 0;
}

.button {
  text-align: right;
}
.link {
  background-color: rgb(21, 21, 71);
  color: aliceblue;
  margin: auto 2em;
  padding: auto 2em;
  font-size: 2em;
  border-radius: 1em;
  text-decoration: none;
  padding: 0 0.5em;
}
