.productInfo {
  display: flex;
  flex-direction: row;
  text-align: bottom;
  line-height: 1.8em;
}

.image {
  width: 30em;
  height: 22.5em;
  margin: 0;
}

.button {
  margin-top: 20%;
  text-align: right;
}
