.container {
  color: white;
  background: rgb(18, 18, 61);
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
}

.link {
  color: aliceblue;
  line-height: 2em;
  text-decoration: underline;
  font-size: 120%;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (max-width: 480px) {
  .container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color: white;
    background: rgb(18, 18, 61);
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 1em;
  }

  .link {
    color: aliceblue;
    text-decoration: underline;
    font-size: 0.8em;
  }

  .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 1em;
    margin: 0;
  }
}

@media print {
  .container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}
