.container {
  color: white;
  background: rgb(18, 18, 61);
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
   font-size: 20px;
}

.link {
  color: aliceblue;
  line-height: 2em;
  text-decoration: underline;
  font-size: 120%;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
