.container {
  color: aliceblue;
  background: rgb(35, 34, 99);
  min-width: max-content;
  grid-row: 2 / 4;
}

.link {
  color: aliceblue;
  line-height: 2em;
  text-decoration: none;
  font-size: 120%;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
