@supports (display: grid) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
    padding: 1em;
  }
}

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    margin: 1em;
    padding: 1em;
  }

  @media (min-width: 1000px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
      margin: 1em;
      padding: 1em;
    }
  }
}
