:global(html) {
  font-size: 10px;
}

:global(body) {
  font-size: 1.6em;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: scroll;
}

.container {
  display: grid;
  grid-template-columns: 13em auto;
  grid-template-rows: 5em 12em auto;
}

.headerContainer {
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background: rgb(18, 18, 61);
  line-height: 4em;
  padding-right: 15em;
}

.mainContainer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.logoContainer {
  grid-column: 1 / 2;
  background: rgb(18, 18, 61);
}

.logo {
  text-decoration: none;
  font-size: 200%;
  color: aliceblue;
  font-family: cursive;
}

.header {
  text-decoration: underline;
  font-size: 150%;
  color: aliceblue;
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
  text-underline-position: 
}

@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 5em auto;
    grid-template-rows: 4em 10em 8em auto;
  }

  .logoContainer {
    grid-column: 1 / 3;
  }

  .headerContainer {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    background: rgb(35, 34, 99);
  }

  .mainContainer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}
