:global(html) {
  font-size: 10px;
}

:global(body) {
  font-size: 1.6em;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 15% auto;
}

.headerContainer {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background: rgb(18, 18, 61);
  line-height: 4em;
  padding-right: 15em;
}

.mainContainer {
  grid-column: 2;
  grid-row: 2;
}

.logo {
  text-decoration: none;
  font-size: 200%;
  color: aliceblue;
  font-family: cursive;
}

.header {
  text-decoration: none;
  font-size: 150%;
  color: aliceblue;
  font-family: 'Gill Sans', sans-serif;
}
