:global(html) {
  font-size: 10px;
}

:global(body) {
  font-size: 1.6em;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: scroll;
}

.container {
  display: grid;
  grid-template-columns: 13em auto;
  grid-template-rows: 5em  auto 12em 15em;
}

.headerContainer {
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background: rgb(18, 18, 61);
  line-height: 4em;
}

.mainContainer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.logoContainer {
  grid-column: 1 / 2;
  background: rgb(18, 18, 100);
  text-align: center;
}

.informationContainer {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.logo {
  font-style: italic;
  text-decoration: none;
  font-size: 1.7em;
  color: aliceblue;
  font-family: cursive;
}

.image {
  width: 100%;
}

.header {
  text-decoration: none;
  font-size: 1.7em;
  color: aliceblue;
  font-family: 'Gill Sans', sans-serif;
}

@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 5em auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .logoContainer {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 0.7em;
  }

  .headerContainer {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    background: rgb(35, 34, 99);
    font-size: 0.7em;
  }

  .mainContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .informationContainer {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }
}

@media print {
  .container {
    visibility: hidden;
  }

  .mainContainer {
    visibility: visible;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    border: solid 1px black;
  }

  .informationContainer {
    grid-row: 1;
  }

  .logoContainer {
    grid-column: 1 / 2;
    grid-row: 1;
  }
}
