.image {
    width: 100%;
    height: 100%;
}

.option_image {
    width: 5em;
    height: 5em;
    display: inline;
    text-align: justify;
    }

.main_text {
    font-weight: bold;
    height: 0em;
}

.check_box_input {
    display: inline;
    height: 0em;
}

.select_width {
width: 60%;
}