.image {
    width: 100%;
    height: 100%;
}

.option_image {
    width: 5em;
    height: 5em;
    display: inline;
    text-align: justify;
    }

.main_text {
    font-weight: bold;
}


.check_box_input {
    display: inline;
    height: 0em;
}

.select_width {
}

tr p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

td {
    white-space: nowrap;
}

@media screen and (max-width:450px) {
        .main_text .option_image{
            width:100%;
           /* grid-template-columns: 50% 50%;*/
        }
    }
