.header {
    cursor: pointer;
    padding: 0.938em;
    color: black;
    text-align: center;
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
 }

.content {
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    padding: 0.938em;
    font-size: 1.25em;
}

.top-panel {
    position: relative;
    width: auto;
    display: inline-flex;
}

.main_div {
    padding: 10%;
}

.input_box {
    height: 0em;
}

@media screen and (max-width:800px) {
    .top-panel {
        display: block;
    }

    .main_div {
        padding: 0em;
    }

    .content {
        padding: 0em;
        font-size: .8em;
    }

    td, th {
        vertical-align: inherit;
        display: inline-block;
    }

    .input_box {
        height: 0em;
    }

    input:not {
        height: 0em;
    }
}

@media screen and (max-width:340px) {
    .header{
        cursor: pointer;
        color: blue;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 1em;
        text-decoration: none;
    }

    .top-panel {
        display: block;
    }

    .main_div {
        padding: 0em;
    }

    .content {
        padding: 0em;
        font-size: .8em;
    }

    td, th {
        vertical-align: inherit;
        display: inline-block;
    }

    .input_box {
        height: 0em;
    }
}

