.header {
    cursor: pointer;
    /*border: solid 1px #f2f2f2;*/
    padding: 0.938em;
    /*background-color: #0089CC;*/
    color: black;
    text-align: center;
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
 }

.content {
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    padding: 0.938em;
    font-size: 1.25em;
}

.top-panel {
    position: relative;
    width: auto;
    display: inline-flex;
}

.main_div {
    padding: 10%;
}

@media screen and (max-width:450px) {
    .top-panel .main_div .header .content {
        width:100%;
    }
}

