.detail {
	display: flex;
	flex-direction: column;
	font-family: "Times New Roman", sans-serif;
 	font-style: italic;
  	font-weight: bold;
  	margin-left: 6%;
}

.image {
	height: 7%;
	width:5%;
}

.animation {
	font-family: "Times New Roman", sans-serif;
 	font-style: italic;
  	font-weight: bold;
	color: black;
  	-webkit-animation: myoffer 5s infinite;
}

@-webkit-keyframes myoffer {
  	from {color: yellow}
  	to {color: red ;}
}

@media screen and (max-width:800px) {
  .detail .animation .image {
    width:100%;
  }
}

@media screen and (min-width:320px) {
  .detail .animation .image {
    width:100%;
  }
}
